<div class="dashboard-container">
  <aside class="sidebar">
    <h2>BudgetBuddy</h2>
    <nav>
      <a routerLink="/home">Home</a>
      <a routerLink="/analysis">Analysis</a>
      <a routerLink="/daily">Daily</a>
    </nav>
    <button (click)="toggleModal()" class="add-expense">+ Add Expense</button>
    <button class="logout" (click)="logout()">Logout</button>
  </aside>

  <main class="dashboard-content">
    <section class="chart-section">
      <h3>Spend in May</h3>
      <canvas id="spendChart" width="300" height="300"></canvas>
    </section>

    <section class="transactions-section">
      <h3>Transactions</h3>
      <div class="filters">
        <select [(ngModel)]="filterType">
          <option value="">All Types</option>
          <option value="expense">Expense</option>
          <option value="income">Income</option>
        </select>
    
      
        <select [(ngModel)]="filterCategory">
          <option value="">All Categories</option>
          <option value="food">Food</option>
          <option value="shopping">Shopping</option>
          <option value="transport">Transport</option>
          <option value="health">Health</option>
          <option value="entertainment">Entertainment</option>
          <option value="other">Other</option>
        </select>

        <input type="date" [(ngModel)]="filterDate" />

      </div>
      
      <div class="transaction-card" 
     *ngFor="let tx of transactions | filter: { type: filterType, category: filterCategory, filterDate }">    
        <div class="left">
          <p class="date">{{ tx.date }}</p>
          <p class="description">{{ tx.description }}</p>
        </div>
        <div class="right">
          <button (click)="deleteTransaction(tx.id)" class="delete-btn">×</button>
          <p class="category">{{ tx.category }}</p>
          <p class="amount">{{ tx.amount }}₸</p>
        </div>
      </div>
    </section>
  </main>

  <div class="modal-backdrop" *ngIf="showModal" (click)="toggleModal()"></div>
  <div class="modal" *ngIf="showModal">
    <app-add-transaction (transactionAdded)="onTransactionAdded()"></app-add-transaction>
    <button class="close-btn" (click)="toggleModal()">✖</button>
  </div>
</div>