   <div class = landing>
    <div class="navbar">
        <h1>Expense Tracker</h1>
      </div>  
      <div class="hero">
        <div class="left">
          <h2> With <span class="highlight">BudgetBuddy</span> every penny counts.</h2>
          <h3> Visualize, analyze, and manage your money — all in one place.</h3>
          <button class="get-started" routerLink="/login">Get Started</button>
        </div>
        <div class="right">
          <img src="/assets/img.png" alt="chart image" />
        </div>
      </div>
   </div>

  